<!doctype html>
<html lang="en" ng-app="imdbApp">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS Tutorial</title>
        <link rel="stylesheet" href="css/bootstrap.css"/>
    </head>
    <body>

        <div ng-controller="TopFilmsCtrl" class="container">

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-lg-1">Search: </label>
                    <div class="col-lg-11">
                        <input type="text" ng-model="filter.query.$" class="form-control" 
                               placeholder="Start type..."/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-1">Order by:</label>
                    <div class="col-lg-2">
                        <select class="form-control" ng-model="filter.orderBy">
                            <option value="place">Place</option>
                            <option value="title">Title</option>
                            <option value="year">Year</option>
                            <option value="rating">Rating</option>
                        </select>
                    </div>

                    <label class="control-label col-lg-1">sort</label>
                    <div class="col-lg-2">
                        <select class="form-control" ng-model="filter.sortBy">
                            <option value="-">descending</option>
                            <option value="+">ascending</option>
                        </select>
                    </div>

                    <label class="control-label col-lg-1">limit</label>
                    <div class="col-lg-2">
                        <select class="form-control" ng-model='filter.limitTo' 
                                ng-options="i for i in [] | range: 1:10"></select>
                    </div>
                </div>

            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="film in imdb.films | filterTable: filter"
                        mouseenter mouseleave>
                        <td>{{film.place}}</td>
                        <td>{{film.title}}</td>
                        <td>{{film.year}}</td>
                        <td>{{film.rating}}</td>
                    </tr>
                </tbody>
            </table>
            
            <hr/>
            
            <film>Default text here!</film>
           
        </div>

        

        <script src="lib/angular/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <script src="js/services.js" type="text/javascript"></script>
        <script src="js/filters.js" type="text/javascript"></script>
        <script src="js/directives.js" type="text/javascript"></script>
    </body>
</html>
