<!doctype html>
<html lang="en" ng-app="imdbApp">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS Tutorial</title>
        <link rel="stylesheet" href="css/bootstrap.css"/>
    </head>
    <body>

        <div ng-controller="TopFilmsCtrl" class="container">

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-lg-1">Search: </label>
                    <div class="col-lg-11">
                        <input type="text" ng-model="query.$" class="form-control" 
                               placeholder="Start type..."/>
                    </div>
                </div>

            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="film in imdb.films | orderBy: 'title'">
                        <td>{{film.place}}</td>
                        <td>{{film.title}}</td>
                        <td>{{film.year}}</td>
                        <td>{{film.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <script src="lib/angular/angular.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <script src="js/services.js" type="text/javascript"></script>
        <script src="js/filters.js" type="text/javascript"></script>
    </body>
</html>
